<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Time and Date Now</title>



</head>

<body>

		

	
  
<h1><center>Time and Date</center></h1>

<table id="usertable"  class = "display compact order-column row-border stripe hover" width="100%" height="100%">
	<thead>
			<tr>
				<th>Time</th>
				<th>Date</th>
				  
			</tr>
	</thead>



    <tbody>
				
				
					<tr>
						<td align="center">{{.Time}}</td> 
						<td align="center">{{.Date}}</td>
					</tr>
				

	</tbody></table>

	



</body>

</html>