<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <!--<style>
        body {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        h1 {
            font-size: 5vw;
            cursor: pointer;
            text-decoration: underline;
        }

        h2 {
            font-size: 5vw;
            cursor: pointer;
            text-decoration: underline;
        }
    </style>-->
</head>
<body>


<h1 id = "time">What time is it?</h1>

<br>

<h1 id = "date">What is today's date?</h1>

<script>
    document.querySelector('#time').onclick = whatTime;

    function whatTime() {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/time', true);
        xhr.onreadystatechange = function() {
            if(xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200){
                alert(xhr.responseText);
            }
        };
        xhr.send();
    }

document.querySelector('#date').onclick = whatDate;

    function whatDate() {
        var xhr1 = new XMLHttpRequest();
        xhr1.open('GET', '/date', true);
        xhr1.onreadystatechange = function() {
            if(xhr1.readyState === XMLHttpRequest.DONE && xhr1.status === 200){
                alert(xhr1.responseText);
            }
        };
        xhr1.send();
    }

</script>
</body>
</html>